/* Dessa forma eu configuro uma font da minha maquina */
/* @font-face {
    font-family: Geist;
    font-display: swap;
    src: url("/geist.woff2") format("woff2");
}

@font-face {
    font-family: Calistoga;
    font-display: swap;
    src: url("/calistoga.woff2") format("woff2");
} */

@theme {
  /* --font-sans: 'Inter', sans-serif, Geist;  */ /* Exemplo de como usar uma font do google fonts e uma font local */
  --font-sans: 'Inter', Roboto, sans-serif;
}